body {
    background-color: snow;
    padding-top: 50px;
}

.anchor {
    display: none;
    height: 50px;
    margin-top: 50px;
    visibility: hidden;
}

.titleRow{
    text-decoration: underline;
}
.titleRow:hover{
    color:blue;
    cursor: pointer;
}
.hidden{
    display: none;
}